@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header__square-pic {
    position: absolute;
    top: 64px;
    right: 0px;
    width: 568px;
    height: 568px;
    background-color: #2F80ED;
    z-index: 0;
    transform: rotate(-15deg);
    animation-name: rotate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

}

.header__square-pic {
    height: 568px;
    width: 568px;
}
