.logo {
    width: 183px;
    height: 32px;
    background-image: url(../../../../images/logo.svg);
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 100;
}

.logo_theme_dark {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 183px;
    height: 35px;
    background-image: url(../../../../images/logo_white.svg);
}
