
.feinman__title {
    width: 648px;
    align-self: center;
    font-size: 120px;
    line-height: 1.15;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 70px 0px;
    padding: 0px;
    box-sizing: border-box;
}